@import 'tailwindcss';

@font-face {
    font-family: "Google Sans";
    src: url('./assets/fonts/GoogleSans_17pt-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: "Google Sans";
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Surface */
    --color-background: #dcd9d4;
    --color-foreground: #e3e1dc;

    --color-card: #eae8e5;
    --color-card-foreground: #f1f0ee;

    --color-popover: ;
    --color-popover-foreground: ;

    --color-muted: #ada193;
    --color-muted-foreground: #ded8d3;

    /* Brand */
    --color-primary: #971c1e;
    --color-primary-foreground: #c97b70;
  

    --color-secondary: #161719;
    --color-secondary-foreground: #3d3e40;
}

@layer base {
  h1 {
    @apply text-5xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-4xl font-semibold tracking-tight;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-lg font-medium;
  }

  h5 {
    @apply text-base font-medium;
  }

  p {
    @apply text-sm leading-7;
  }
}